<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>random words</title>
</head>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Nouns List</title>
  <meta charset="UTF-8">
  <style>
      table {
          width: 100%;
          border-collapse: collapse;
      }
      table, th, td {
          border: 1px solid black;
      }
      th, td {
          padding: 8px;
          text-align: left;
      }
      th {
          background-color: #f2f2f2;
      }
  </style>
</head>
<body>
<h1>List of Nouns</h1>
<p th:if="${message}" th:text="${message}">
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Article</th>
    <th>Word</th>
    <th>Plural</th>
    <th>Russian</th>
    <th>Date of Addition</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="nounDto : ${nounDtoList}">
    <td th:text="${nounDto.id}"></td>
    <td><input type="text" th:value="${nounDto.article}" readonly/></td>
    <td><input type="text" th:value="${nounDto.word}" readonly/></td>
    <td><input type="text" th:value="${nounDto.plural}" readonly/></td>
    <td><input type="text" th:value="${nounDto.russian}" readonly/></td>
    <td th:text="${nounDto.additionDate}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>