<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Article check</title>
  </head>

  <body>
  <h1>Please sign in</h1>
  <h2>if you are already registered</h2>
  <div th:if="${error}">
    Unable to login. Check your username and password.
  </div>
  <p> or click
    <a th:href="@{/register}">here</a> to register.</p>

    <form method="POST" th:action="@{/login}" id="loginForm">
      <label for="username">Username: </label>
      <input type="text" name="username" id="username" />
      <br/>
      <label for="password">Password: </label>
      <input type="password" name="password" id="password" />
      <br/>
      <input type="submit" value="Login" />
    </form>
    <img src="@{img/bild.png}" alt="not found"/>

  </body>

</html>